.mzw__transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: lightgrey;
  margin: 0.5rem 0;
  cursor: pointer;
}

.mzw__transaction:hover {
  background-color: grey;
}

.mzw__transaction__logo {
  width: 2.5rem;
  height: 2.5rem;
}

.mzw__transaction__body {
  flex: 1;
  margin: 0 1rem;
}
